@model in_houseLPIWeb.Pages.RFP.rfpPrintViewModel
@{
    string formattedRFP_No = $"LAWHO-{Model.rfpFormx.RFP_No + 1000000}";
}

<!-- Company Information -->
<div class="container-fluid print-container">
    <h1 style="font-size: 20px;">Lawson Philippines Inc.,</h1>
    <p style="margin: auto; font-size: 10px;">HEAD OFFICE: 11th Flr., Office Tower, Times Plaza Building, United Nation Ave. - Manila</p>
    <p style="margin: auto; font-size: 10px;">TELEPHONE NO# 742-4836</p>
</div>

<!-- Request Header -->
<div class="container-fluid text-right print-container">
    <p class="mb-0">RFP NO. <b><u>@formattedRFP_No</u></b></p>
</div>

<!-- Border header for Request for Payment Form -->
<div class="container-fluid text-center" style="border: 1px solid black; height: 25px;">
    <span class="font-weight-bolder align-middle">REQUEST FOR PAYMENT FORM</span>
</div>

<!-- Payee and Request Date -->
<div class="container-fluid print-container" style="border: 1px solid black; height: 50px;">
    <div class="row">
        <div class="col-6">
            <div>PAYEE:</div>
            <div class="font-weight-bold ml-5"> @(Model.rfpFormx.Payee) </div>
        </div>
        <div class="col-6 text-right">
            <div>DATE REQUESTED:</div>
            <div class="font-weight-bold ml-5"> @(DateTime.Now.ToString("MM/dd/yyyy")) </div>
        </div>
    </div>
</div>

<!-- Mode of payment, type of payment -->
<div class="container-fluid print-container" style="border: 1px solid black; height: 50px;">
    <div class="row">
        <div class="col-4">
            <div>MODE OF PAYMENT:</div>
            <div class="font-weight-bold ml-5"> @(Model.rfpFormx.MoP) </div>
        </div>
        <div class="col-4 text-center">
            <div>TYPE OF PAYMENT:</div>
            <div class="font-weight-bold ml-5"> @(Model.rfpFormx.ToP) </div>
        </div>
        <div class="col-4 text-right">
            <div>DUE DATE:</div>
            <div class="font-weight-bold ml-5"> @(Model.rfpFormx.DueDate.ToString("MM/dd/yyyy")) </div>
        </div>
    </div>
</div>

<!-- Amount information -->
<div class="container-fluid print-container" style="border: 1px solid black; height: 75px;">
    <div class="row">
        <div class="col-4">
            <div>AMOUNT IN FIGURES:</div>
            <div class="font-weight-bold ml-5">
                @(Model.CurrencyQ) @String.Format("{0:N}", Convert.ToDecimal(Model.Amtx))
            </div>
        </div>
        <div class="col-8">
            <div>AMOUNT IN WORDS:</div>
            <div class="font-weight-bold ml-5"> @(Model.Wordx) </div>
        </div>
    </div>
</div>